@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Home Page of hwtw OSS</h1>
    <h2>About this website</h2>
    <p>This website is made by howard aka ictechz or hwtw on a lot of plaforms! I'm just a starting dev<br />Read more info <a href="https://github.com/hpware/hpware/">Here</a>.
    </p>
    <h2>My Projects</h2>
    <p>Please View <a asp-page="" asp-area="/Projects">Here</a> for more info!</p>
</div>
